.nav-link{
  color: rgb(251, 2, 2);
  font-family:'Times New Roman', Times, serif;
  font-size: large;
  font-weight: bold;
}

.nav-link:hover{
  color: rgb(140, 247, 9);

}
.navhead,.navstart{
  display: flex;
  justify-content: space-between;
}



