/* .reshead{
    text-align: center;
    color: orange;
}
.resinputadd{
    width: 50%;
    height: 31px;

}

.resspan{
    color: red;
}
.formres{
    text-align: center;
    padding-bottom: 30px;
    width: 100%;
}
.resbutton{
    padding: 10px;
    background-color: orange;
    color: white;
    border: none;
} */

.addRespage{
    padding: 30px;
}

.formclass{
    display: flex;
    justify-content: center;
}

.addreshead{
    text-align: center;
}

.resinputadd{
    width: 100%;
    height: 31px;
}

.formRes{
    width: 50%;
}

.adresbut{
    text-align: center;
}