.addRespage{
    padding: 30px;
    background-image: url(../../../public/images/resBG.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.formclass{
    display: flex;
    justify-content: center;
}

.addreshead{
    text-align: center;
    color: white;
    padding-bottom: 40px;
}

.resinputadd{
    width: 100%;
    height: 31px;
    opacity: 40%;
}


.formRes{
    width: 45%;
    color: white;
    font-size: medium;
    font-weight: bold;
    text-shadow: 4px 4px 4px black;
}

.adresbut{
    text-align: center;
}
.resbutton{
    padding: 5px 20px 5px 20px;
    border: none;
    color: white;
    font-weight: bold;
    background-color: rgb(72, 53, 17);
}
