body{
  overflow-x: hidden;
}
.food{
    background-image: url(../../../public/images/imghome.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100%;
    background-position: center;
    height: 480px;
  }

.near{
    text-align: center;
    padding-top: 100px;
    text-shadow: 3px 3px 2px black;
    color: white;
    
  }
  .nearyou{
    font-family: Georgia, 'Times New Roman', Times, serif;
  }
 

.homesearchbox {
  display: flex;
  align-items: center;
  justify-content: center;
}

.homesearch {
  font-family: inherit;
  font-size: inherit;
  background-color: #f4f2f2;
  border: none;
  color: #646464;
  padding: 0.7rem 1rem;
  border-radius: 30px;
  width: 20em;
  transition: all ease-in-out .5s;
  margin-right: -2rem;
}

.homesearch:hover, .homesearch:focus {
  box-shadow: 0 0 1em #00000013;
}

.homesearch:focus {
  outline: none;
  background-color: #f0eeee;
}

.homesearch::-webkit-input-placeholder {
  font-weight: 100;
  color: #ccc;
}

.homesearch:focus + .search__button {
  background-color: #f0eeee;
}

.searching {
  border: none;
  margin-top: .1em;
  padding-right: 0px;
}

.searching:hover {
  cursor: pointer;
}


  