.foot{
    background-color: black;
    color: white;
    padding-top: 30px;
    width: 100%;
}
.subscribe{
    text-align: center;
    padding-bottom: 20px;
}
.emailinput{
    padding: 10px;
    margin: 5px;
    border: none;
    border-radius: 3px;
}
.subscribebutton{
    padding: 10px;
    margin: 5px;
    background-color: green;
    border: none;
    border-radius: 3px;
}
.footerrow{
    display: flex;
    justify-content: space-between;
    padding: 20px;
}
@media(max-width:500px){
    .footerrow{
        display: flex;
        flex-direction: column;
    }
}
