.resimgone{
    height: 200px;
    width: 300px;
}
.resimgtwo{
    height: 200px;
    width: 300px;
}
.resimgthree{
    height: 200px;
    width: 300px;
}
.resimgfour{
    height: 200px;
    width: 300px;
}
.resimgfive{
    height: 200px;
    width: 300px;
}
.resrow{
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
    padding: 20px;
}
.honeres{
    text-align: center;
    background-color: pink;
    padding: 10px;
}
.wordsalign{
    text-align: center;
}
.resedit{
background-color: green;
border: none;
margin-right: 2px;
height: 29px;
}

.resdelete{
background-color: red;
border: none;
color: white;
font-weight: bold;
padding: 7px;

}

.reseditlink{
    color: white;
    font-weight: bold;
    padding: 8px;
}


.ressearchbox{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 50px;
    gap: 40px;
    flex-wrap: wrap;
    
}
.resviewhead{
    margin: 0;
}
.ressearch{
    height: 30px;
    width:250px;
    border-radius:10px;
    border: 1px solid;
}

@media(max-width:400px){
    .ressearch{
        width: auto;
    }
}

.ressearchbut{
padding: 3px 20px 0px 20px;
border-radius: 10px;
border: 1px solid;
color: rgb(247, 248, 247);
background-color: green;

}
.resinputbutton{
    display: flex;
    gap: 10px;
}
