.editbgfastfood{
    background-image: url(../../../public/images/viewfdBG.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    
}
.editfdhead{
    text-align: center;
    color: white;
    padding-top: 40px;
}
.editfoodrow{
    display: flex;
    justify-content: space-evenly;
}
.editfdinput{
    padding-left: 100px;
    padding-right: 100px;
    height: 30px;
    opacity: 50%;
}
.editnamecolor{
    color: black;
}
.editbutfd{
    text-align: center;
    
}
.editfdsubmit{
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    background-color: green;
    border: none;
    font-size: medium;
}
.editspancolor{
    color: red;
    font-size: medium;
}
@media(max-width:600px){
    .editfdinput{
padding-left: 0%;
padding-right: 0%;
    }
}
.editfilecolor{
    color: white;
}