.how{
    text-align: center;
}
.fullrow{
    display: flex;
    text-align: center;
    justify-content: space-between;
}
@media(max-width:550px){
    .fullrow{
        display: flex;
        flex-direction: column;
    }
}
.work{
    background-color: rgb(211, 220, 227);
padding: 10px;
}